In [2]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
file_path='/content/Book1.csv.xlsx'

In [7]:
df = pd.read_excel(file_path)

In [11]:
columns_to_normalize = ["Gender","Age Range","Head Size(cm^3)", "Brain Weight(grams)"]

In [12]:
print(df)

    Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0          NaN         NaN         NaN         NaN         NaN         NaN
1          NaN         NaN         NaN         NaN         NaN         NaN
2          NaN         NaN         NaN         NaN         NaN         NaN
3          NaN         NaN         NaN         NaN         NaN         NaN
4          NaN         NaN         NaN         NaN         NaN         NaN
5          NaN         NaN         NaN         NaN         NaN         NaN
6          NaN         NaN         NaN         NaN         NaN         NaN
7          NaN         NaN         NaN         NaN         NaN         NaN
8          NaN         NaN         NaN         NaN         NaN         NaN
9          NaN         NaN         NaN         NaN         NaN         NaN
10         NaN         NaN         NaN         NaN         NaN         NaN
11         NaN         NaN         NaN         NaN         NaN         NaN
12         NaN         NaN         NaN         NaN         NaN         NaN
13         NaN         NaN         NaN         NaN         NaN         NaN
14         NaN         NaN         NaN         NaN         NaN         NaN
15         NaN         NaN         NaN         NaN         NaN         NaN
16         NaN         NaN         NaN         NaN         NaN         NaN
17         NaN         NaN         NaN         NaN         NaN         NaN
18         NaN         NaN         NaN         NaN         NaN         NaN
19         NaN         NaN         NaN         NaN         NaN         NaN
20         NaN         NaN         NaN         NaN         NaN         NaN
21         NaN         NaN         NaN         NaN         NaN         NaN
22         NaN         NaN         NaN         NaN         NaN         NaN
23         NaN         NaN         NaN         NaN         NaN         NaN
24         NaN         NaN         NaN         NaN         NaN         NaN
25         NaN         NaN         NaN         NaN         NaN         NaN

    Unnamed: 6 Unnamed: 7 Unnamed: 8       Unnamed: 9          Unnamed: 10
0          NaN        NaN        NaN              NaN                  NaN
1          NaN        NaN        NaN              NaN                  NaN
2          NaN        NaN        NaN              NaN                  NaN
3          NaN        NaN        NaN              NaN                  NaN
4          NaN        NaN        NaN              NaN                  NaN
5          NaN        NaN        NaN              NaN                  NaN
6          NaN        NaN        NaN              NaN                  NaN
7          NaN        NaN        NaN              NaN                  NaN
8          NaN        NaN        NaN              NaN                  NaN
9          NaN        NaN        NaN              NaN                  NaN
10         NaN     Gender  Age Range  Head Size(cm^3)  Brain Weight(grams)
11         NaN          1          1             4512                 1530
12         NaN          1          1             3738                 1297
13         NaN          1          1             4261                 1335
14         NaN          1          1             3777                 1282
15         NaN          1          1             4177                 1590
16         NaN          1          1             3585                 1300
17         NaN          1          1             3785                 1400
18         NaN          1          1             3559                 1255
19         NaN          1          2             3613                 1355
20         NaN          2          2             3982                 1375
21         NaN          2          2             3443                 1340
22         NaN          2          2             3993                 1380
23         NaN          2          2             3640                 1355
24         NaN          2          2             4208                 1522
25         NaN          2          2             3832                 1208

In [13]:
import pandas as pd


file_path = '/content/housing.csv'
df = pd.read_csv(file_path)

# Display basic statistics of the data
description = df.describe()
print(description)

          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

In [14]:

data_types = df.dtypes
shape = df.shape

print("Data Types:")
print(data_types)
print("\nShape:")
print(shape)

Data Types:
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

Shape:
(20640, 10)

In [16]:

null_values = df.isnull().sum()


df_filled = df.fillna(0)

print("Null Values:")
print(null_values)


print("\nDataFrame after filling null values:")
print(df_filled)

Null Values:
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

DataFrame after filling null values:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [18]:
file_path = '/content/housing.csv'
housing_data = pd.read_csv(file_path)

In [32]:
features = housing_data.drop('median_house_value', axis=1)
features=housing_data.drop('ocean_proximity',axis=1)
target = housing_data['median_house_value']

In [33]:
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features)

In [35]:
print("Features:")
print(features.head())

Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value
0       322.0       126.0         8.3252            452600.0
1      2401.0      1138.0         8.3014            358500.0
2       496.0       177.0         7.2574            352100.0
3       558.0       219.0         5.6431            341300.0
4       565.0       259.0         3.8462            342200.0

In [36]:
print("\nTarget:")
print(target.head())

Target:
0    452600.0
1    358500.0
2    352100.0
3    341300.0
4    342200.0
Name: median_house_value, dtype: float64

In [37]:
print("\nNormalized Features:")
print(pd.DataFrame(features_normalized, columns=features.columns).head())

Normalized Features:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.211155  0.567481            0.784314     0.022331        0.019863
1   0.212151  0.565356            0.392157     0.180503        0.171477
2   0.210159  0.564293            1.000000     0.037260        0.029330
3   0.209163  0.564293            1.000000     0.032352        0.036313
4   0.209163  0.564293            1.000000     0.041330        0.043296

   population  households  median_income  median_house_value
0    0.008941    0.020556       0.539668            0.902266
1    0.067210    0.186976       0.538027            0.708247
2    0.013818    0.028943       0.466028            0.695051
3    0.015555    0.035849       0.354699            0.672783
4    0.015752    0.042427       0.230776            0.674638

In [39]:
features_train, features_test, target_train, target_test = train_test_split(
      features_normalized, target, test_size=0.2, random_state=42
      )

In [40]:
print("\nTrain and Test Split:")
print("Features Train Shape:", features_train.shape)
print("Features Test Shape:", features_test.shape)
print("Target Train Shape:", target_train.shape)
print("Target Test Shape:", target_test.shape)

Train and Test Split:
Features Train Shape: (16512, 9)
Features Test Shape: (4128, 9)
Target Train Shape: (16512,)
Target Test Shape: (4128,)